################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/PurpleShop/.vs/PurpleShop/v16
