<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-5">
        <div class="sidebar">
          <div class="sidebar__item">
            <h4>Department</h4>
            <ul>
              <li *ngFor="let category of categories">
                <a routerLink="/shop/category/{{ category.id }}">{{
                  category.name
                }}</a>
              </li>
            </ul>
          </div>
          <div class="sidebar__item"></div>
          <h4>Fiyat</h4>
          <ng5-slider
            [(value)]="minPrice"
            [(highValue)]="maxPrice"
            [options]="options"
          ></ng5-slider>
        </div>
        <div class="sidebar__item sidebar__item__color--option">
          <h4>Renk</h4>
          <div class="sidebar__item__color sidebar__item__color--white">
            <label for="white">
              White
              <input type="radio" id="white" />
            </label>
          </div>
          <div class="sidebar__item__color sidebar__item__color--gray">
            <label for="gray">
              Gray
              <input type="radio" id="gray" />
            </label>
          </div>
          <div class="sidebar__item__color sidebar__item__color--red">
            <label for="red">
              Red
              <input type="radio" id="red" />
            </label>
          </div>
          <div class="sidebar__item__color sidebar__item__color--black">
            <label for="black">
              Black
              <input type="radio" id="black" />
            </label>
          </div>
          <div class="sidebar__item__color sidebar__item__color--blue">
            <label for="blue">
              Blue
              <input type="radio" id="blue" />
            </label>
          </div>
          <div class="sidebar__item__color sidebar__item__color--green">
            <label for="green">
              Green
              <input type="radio" id="green" />
            </label>
          </div>
        </div>
        <div class="sidebar__item">
          <h4>Popular Size</h4>
          <div class="sidebar__item__size">
            <label for="large">
              Large
              <input type="radio" id="large" />
            </label>
          </div>
          <div class="sidebar__item__size">
            <label for="medium">
              Medium
              <input type="radio" id="medium" />
            </label>
          </div>
          <div class="sidebar__item__size">
            <label for="small">
              Small
              <input type="radio" id="small" />
            </label>
          </div>
          <div class="sidebar__item__size">
            <label for="tiny">
              Tiny
              <input type="radio" id="tiny" />
            </label>
          </div>
        </div>
        <div class="sidebar__item">
          <div class="latest-product__text">
            <h4>Latest Products</h4>
            <div class="latest-product__slider owl-carousel">
              <div class="latest-prdouct__slider__item">
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/latest-product/lp-1.jpg" alt="" />
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/latest-product/lp-2.jpg" alt="" />
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/latest-product/lp-3.jpg" alt="" />
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
              </div>
              <div class="latest-prdouct__slider__item">
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/latest-product/lp-1.jpg" alt="" />
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/latest-product/lp-2.jpg" alt="" />
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/latest-product/lp-3.jpg" alt="" />
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-7">
        <div class="filter__item">
          <div class="row">
            <div class="col-lg-4 col-md-5">
              <div class="filter__sort">
                <span>Sıralama</span>
                <select (change)="sort($event)">
                  <option value="Low">Fiyatı Artan</option>
                  <option value="High">Fiyatı Azalan</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="filter__found">
                <h6>
                  <span>{{ products?.length }}</span> Ürün Bulundu
                </h6>
              </div>
            </div>
            <div class="col-lg-4 col-md-3">
              <div class="filter__option">
                <span class="icon_grid-2x2"></span>
                <span class="icon_ul"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-4 col-md-6 col-sm-6"
            *ngFor="
              let product of products | shopProductSort: minPrice:maxPrice
            "
          >
            <div class="product__item">
              <div
                class="product__item__pic set-bg"
                data-setbg="img/product/product-1.jpg"
                *ngFor="let image of product['productImages']"
                [style.background-image]="'url(' + image.url + ')'"
              >
                <ul class="product__item__pic__hover">
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-retweet"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6>
                  <a href="#">{{ product.name }}</a>
                </h6>
                <h5>{{ product.feature.price }} TL</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="product__pagination">
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#"><i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Section End -->
