<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-5">
        <div class="sidebar">
          <div class="sidebar__item">
            <h4>Kategori</h4>
            <ul>
              <li><a routerLink="/shop">Tümü</a></li>
              <li *ngFor="let category of categories">
                <a routerLink="/shop/category/{{ category.id }}">{{
                  category.name
                }}</a>
              </li>
            </ul>
          </div>
          <div class="sidebar__item">
            <h4>Fiyat</h4>
            <ng5-slider
              [(value)]="minPrice"
              [(highValue)]="maxPrice"
              [options]="options"
            ></ng5-slider>
          </div>
          <div class="sidebar__item">
            <h4>Renk</h4>
            <div
              class="sidebar__item__color"
              *ngFor="let color of colors"
              (click)="selectColor(color)"
            >
              <label for="white">
                {{ color.name }}
                <input type="radio" id="white" />
                <div class="test" [style.background]="color.colorcode"></div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-7">
        <div class="filter__item">
          <div class="row">
            <div class="col-lg-4 col-md-5">
              <div class="filter__sort">
                <span>Sıralama</span>
                <select (change)="sort($event)">
                  <option value="Favori">Popüler</option>
                  <option value="Low">Fiyatı Artan</option>
                  <option value="High">Fiyatı Azalan</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="filter__found">
                <h6>
                  <span>{{
                    (products | shopProductSort: minPrice:maxPrice)?.length
                  }}</span>
                  Ürün Bulundu
                </h6>
              </div>
            </div>
            <div class="col-lg-4 col-md-3">
              <div class="filter__option">
                <span class="icon_grid-2x2"></span>
                <span class="icon_ul"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-4 col-md-6 col-sm-6"
            *ngFor="
              let product of products
                | shopProductSort: minPrice:maxPrice
                | shopProductOrderby: operation
                | shopProductFiltercolor: colorName
            "
          >
            <!-- <app-asd [productItem]="product"></app-asd> -->
            <div class="product__item">
              <div
                class="product__item__pic set-bg"
                data-setbg="img/product/product-1.jpg"
                *ngFor="let image of product['productImages']"
                [style.background-image]="'url(' + image.url + ')'"
              >
                <ul class="product__item__pic__hover">
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-retweet"></i></a>
                  </li>
                  <li>
                    <a (click)="addToCart(product)"
                      ><i class="fa fa-shopping-cart"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6>
                  <a href="#">{{ product.name }}</a>
                </h6>
                <h5>{{ product.feature.price }} TL</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Section End -->
