a:hover {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
}

.section-title h2 {
  color: #1c1c1c;
  font-weight: 700;
  position: relative;
}

.section-title h2:after {
  position: absolute;
  left: 0;
  bottom: -15px;
  right: 0;
  height: 4px;
  width: 80px;
  background: #47d6c9;
  content: "";
  margin: 0 auto;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

/* buttons */

.primary-btn {
  display: inline-block;
  font-size: 14px;
  padding: 10px 28px 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  background: #47d6c9;
  letter-spacing: 2px;
}

.site-btn {
  font-size: 14px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  padding: 13px 30px 12px;
  background: #47d6c9;
  border: none;
}

/* Preloder */

#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

/*---------------------
  Header
-----------------------*/

.header-top {
  background: #f5f5f5;
}

.header-top-left {
  padding: 10px 0 13px;
}

.header-top-left ul li {
  font-size: 14px;
  color: #1c1c1c;
  display: inline-block;
  margin-right: 45px;
  position: relative;
}

.header-top-left ul li:after {
  position: absolute;
  right: -25px;
  top: 1px;
  height: 20px;
  width: 1px;
  background: #000000;
  opacity: 0.1;
  content: "";
}

.header-top-left ul li:last-child {
  margin-right: 0;
}

.header-top-left ul li:last-child:after {
  display: none;
}

.header-top-left ul li i {
  color: #252525;
  margin-right: 5px;
}

.header-top-right {
  text-align: right;
  padding: 10px 0 13px;
}

.header-top-right-social {
  position: relative;
  display: inline-block;
  margin-right: 35px;
}

.header-top-right-social:after {
  position: absolute;
  right: -20px;
  top: 1px;
  height: 20px;
  width: 1px;
  background: #000000;
  opacity: 0.1;
  content: "";
}

.header-top-right-social a {
  font-size: 14px;
  display: inline-block;
  color: #1c1c1c;
  margin-right: 20px;
}

.header-top-right-social a:last-child {
  margin-right: 0;
}

.header-top-right-language {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
}

.header-top-right-language:hover ul {
  top: 23px;
  opacity: 1;
  visibility: visible;
}

.header-top-right-language:after {
  position: absolute;
  right: -21px;
  top: 1px;
  height: 20px;
  width: 1px;
  background: #000000;
  opacity: 0.1;
  content: "";
}

.header-top-right-language img {
  margin-right: 6px;
}

.header-top-right-language div {
  font-size: 14px;
  color: #1c1c1c;
  display: inline-block;
  margin-right: 4px;
}

.header-top-right-language span {
  font-size: 14px;
  color: #1c1c1c;
  position: relative;
  top: 2px;
}

.header-top-right-language ul {
  background: #222222;
  width: 100px;
  text-align: left;
  padding: 5px 0;
  position: absolute;
  left: 0;
  top: 43px;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.header-top-right-language ul li {
  list-style: none;
}

.header-top-right-language ul li a {
  font-size: 14px;
  color: #ffffff;
  padding: 5px 10px;
}

.header-top-right-auth {
  display: inline-block;
}

.header-top-right-auth a {
  display: block;
  font-size: 14px;
  color: #1c1c1c;
}

.header-top-right-auth a i {
  margin-right: 6px;
}

.header-logo {
  padding: 15px 0;
}

.header-logo a {
  display: inline-block;
}

.header-menu {
  padding: 24px 0;
}

.header-menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.header-menu ul li .header-menu-dropdown {
  position: absolute;
  left: 0;
  top: 50px;
  background: #222222;
  width: 180px;
  z-index: 9;
  padding: 5px 0;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  opacity: 0;
  visibility: hidden;
}

.header-menu ul li .header-menu-dropdown li {
  margin-right: 0;
  display: block;
}

.header-menu ul li .header-menu-dropdown li:hover > a {
  color: #47d6c9;
}

.header-menu ul li .header-menu-dropdown li a {
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 15px;
}

.header-menu ul li.active a {
  color: #47d6c9;
}

.header-menu ul li:hover .header-menu-dropdown {
  top: 30px;
  opacity: 1;
  visibility: visible;
}

.header-menu ul li:hover > a {
  color: #47d6c9;
}

.header-menu ul li:last-child {
  margin-right: 0;
}

.header-menu ul li a {
  font-size: 14px;
  color: #252525;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  padding: 5px 0;
  display: block;
}

.header-cart {
  text-align: right;
  padding: 24px 0;
}

.header-cart ul {
  display: inline-block;
  margin-right: 25px;
}

.header-cart ul li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.header-cart ul li:last-child {
  margin-right: 0;
}

.header-cart ul li a {
  position: relative;
}

.header-cart ul li a i {
  font-size: 18px;
  color: #1c1c1c;
}

.header-cart ul li a span {
  height: 13px;
  width: 13px;
  background: #47d6c9;
  font-size: 10px;
  color: #ffffff;
  line-height: 13px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -12px;
}

.header-cart .header-cart-price {
  font-size: 14px;
  color: #6f6f6f;
  display: inline-block;
}

.header-cart .header-cart-price span {
  color: #252525;
  font-weight: 700;
}

.humberger-open {
  display: none;
}

/*---------------------
  Hero
-----------------------*/

.hero {
  padding-bottom: 50px;
}

.hero.hero-normal {
  padding-bottom: 30px;
}

.hero.hero-normal .hero__categories {
  position: relative;
}

.hero.hero-normal .hero__categories ul {
  display: none;
  position: absolute;
  left: 0;
  top: 46px;
  width: 100%;
  z-index: 9;
  background: #ffffff;
}

.hero.hero-normal .hero__search {
  margin-bottom: 0;
}

.hero__categories__all {
  background: #47d6c9;
  position: relative;
  padding: 10px 25px 10px 40px;
  cursor: pointer;
}

.hero__categories__all i {
  font-size: 16px;
  color: #ffffff;
  margin-right: 10px;
}

.hero__categories__all span {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.hero__categories__all:after {
  position: absolute;
  right: 18px;
  top: 9px;
  content: "3";
  font-family: "ElegantIcons";
  font-size: 18px;
  color: #ffffff;
}

.hero__categories ul {
  border: 1px solid #ebebeb;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 12px;
}

.hero__categories ul li {
  list-style: none;
}

.hero__categories ul li a {
  font-size: 16px;
  color: #1c1c1c;
  line-height: 39px;
  display: block;
}

.hero__search {
  overflow: hidden;
  margin-bottom: 30px;
}

.hero__search__form {
  width: 850px;
  height: 50px;
  border: 1px solid #ebebeb;
  position: relative;
  float: left;
}

.hero__search__form form .hero__search__categories {
  width: 30%;
  float: left;
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 700;
  padding-left: 18px;
  padding-top: 11px;
  position: relative;
}

.hero__search__form form .hero__search__categories:after {
  position: absolute;
  right: 0;
  top: 14px;
  height: 20px;
  width: 1px;
  background: #000000;
  opacity: 0.1;
  content: "";
}

.hero__search__form form .hero__search__categories span {
  position: absolute;
  right: 14px;
  top: 14px;
}

.hero__search__form form input {
  width: 70%;
  border: none;
  height: 48px;
  font-size: 16px;
  color: #b2b2b2;
  padding-left: 20px;
}

.hero__search__form form input::placeholder {
  color: #b2b2b2;
}

.hero__search__form form button {
  position: absolute;
  right: 0;
  top: -1px;
  height: 50px;
}

.hero__search__phone {
  float: right;
}

.hero__search__phone__icon {
  font-size: 18px;
  color: #47d6c9;
  height: 50px;
  width: 50px;
  background: #f5f5f5;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.hero__search__phone__text {
  overflow: hidden;
}

.hero__search__phone__text h5 {
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 5px;
}

.hero__search__phone__text span {
  font-size: 14px;
  color: #6f6f6f;
}

.hero__item {
  height: 431px;
  display: flex;
  align-items: center;
  padding-left: 75px;
}

.hero__text span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  color: #47d6c9;
}

.hero__text h2 {
  font-size: 46px;
  color: #252525;
  line-height: 52px;
  font-weight: 700;
  margin: 10px 0;
}

.hero__text p {
  margin-bottom: 35px;
}

/*---------------------
  Categories
-----------------------*/

.categories__item {
  height: 270px;
  position: relative;
}

.categories__item h5 {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 20px;
  bottom: 20px;
  text-align: center;
}

.categories__item h5 a {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 0 10px;
  background: #ffffff;
  display: block;
}

.categories__slider .col-lg-3 {
  max-width: 100%;
}

.categories__slider.owl-carousel .owl-nav button {
  font-size: 18px;
  color: #1c1c1c;
  height: 70px;
  width: 30px;
  line-height: 70px;
  text-align: center;
  border: 1px solid #ebebeb;
  position: absolute;
  left: -35px;
  top: 50%;
  -webkit-transform: translateY(-35px);
  background: #ffffff;
}

.categories__slider.owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: -35px;
}

/*---------------------
  Featured
-----------------------*/

.featured {
  padding-top: 80px;
  padding-bottom: 40px;
}

.featured__controls {
  text-align: center;
  margin-bottom: 50px;
}

.featured__controls ul li {
  list-style: none;
  font-size: 18px;
  color: #1c1c1c;
  display: inline-block;
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}

.featured__controls ul li.active:after {
  opacity: 1;
}

.featured__controls ul li:after {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #47d6c9;
  content: "";
  opacity: 0;
}

.featured__controls ul li:last-child {
  margin-right: 0;
}

.featured__item {
  margin-bottom: 50px;
}

.featured__item:hover .featured__item__pic .featured__item__pic__hover {
  bottom: 20px;
}

.featured__item__pic {
  height: 270px;
  position: relative;
  overflow: hidden;
  background-position: center center;
}

.featured__item__pic__hover {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  text-align: center;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}

.featured__item__pic__hover li {
  list-style: none;
  display: inline-block;
  margin-right: 6px;
}

.featured__item__pic__hover li:last-child {
  margin-right: 0;
}

.featured__item__pic__hover li:hover a {
  background: #47d6c9;
  border-color: #47d6c9;
}

.featured__item__pic__hover li:hover a i {
  color: #ffffff;
  transform: rotate(360deg);
}

.featured__item__pic__hover li a {
  font-size: 16px;
  color: #1c1c1c;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ebebeb;
  background: #ffffff;
  display: block;
  border-radius: 50%;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}

.featured__item__pic__hover li a i {
  position: relative;
  transform: rotate(0);
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.featured__item__text {
  text-align: center;
  padding-top: 15px;
}

.featured__item__text h6 {
  margin-bottom: 10px;
}

.featured__item__text h6 a {
  color: #252525;
}

.featured__item__text h5 {
  color: #252525;
  font-weight: 700;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-menu ul li {
    margin-right: 45px;
  }
  .hero__search__form {
    width: 490px;
  }
  .hero__categories__all {
    padding: 10px 25px 10px 20px;
  }
  .hero__categories ul {
    padding-left: 20px;
  }
  .latest-product__slider.owl-carousel .owl-nav {
    right: 0;
  }
  .product__details__tab .nav-tabs:before {
    width: 265px;
  }
  .product__details__tab .nav-tabs:after {
    width: 265px;
  }
  .shoping__discount form input {
    width: 240px;
  }
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero__categories {
    margin-bottom: 30px;
  }
  .hero__search__form {
    width: 485px;
  }
  .categories__slider.owl-carousel .owl-nav button {
    left: -20px;
  }
  .categories__slider.owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
  .filter__sort .nice-select {
    padding-left: 5px;
    padding-right: 28px;
  }
  .product__details__quantity {
    margin-bottom: 10px;
  }
  .product__details__text .primary-btn {
    margin-bottom: 10px;
  }
  .product__details__tab .nav-tabs:before {
    width: 150px;
  }
  .product__details__tab .nav-tabs:after {
    width: 150px;
  }
  .blog__details__author {
    overflow: hidden;
    margin-bottom: 25px;
  }
  .humberger-open {
    display: block;
    font-size: 22px;
    color: #1c1c1c;
    height: 35px;
    width: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #1c1c1c;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
  }
  .header .container {
    position: relative;
  }
  .humberger__menu__wrapper {
    width: 300px;
    background: #ffffff;
    position: fixed;
    left: -300px;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 99;
    padding: 30px;
    padding-top: 50px;
    opacity: 0;
    display: block;
    -webkit-transition: all, 0.6s;
    -moz-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }
  .humberger__menu__wrapper.show__humberger__menu__wrapper {
    opacity: 1;
    left: 0;
  }
  .humberger__menu__logo {
    margin-bottom: 30px;
  }
  .humberger__menu__logo a {
    display: inline-block;
  }
  .humberger__menu__contact {
    padding: 10px 0 13px;
  }
  .humberger__menu__contact ul li {
    font-size: 14px;
    color: #1c1c1c;
    position: relative;
    line-height: 30px;
    list-style: none;
  }
  .humberger__menu__contact ul li i {
    color: #252525;
    margin-right: 5px;
  }
  .humberger__menu__cart ul {
    display: inline-block;
    margin-right: 25px;
  }
  .humberger__menu__cart ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
  }
  .humberger__menu__cart ul li:last-child {
    margin-right: 0;
  }
  .humberger__menu__cart ul li a {
    position: relative;
  }
  .humberger__menu__cart ul li a i {
    font-size: 18px;
    color: #1c1c1c;
  }
  .humberger__menu__cart ul li a span {
    height: 13px;
    width: 13px;
    background: #47d6c9;
    font-size: 10px;
    color: #ffffff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -12px;
  }
  .humberger__menu__cart .header-cart-price {
    font-size: 14px;
    color: #6f6f6f;
    display: inline-block;
  }
  .humberger__menu__cart .header-cart-price span {
    color: #252525;
    font-weight: 700;
  }
  .humberger__menu__cart {
    margin-bottom: 25px;
  }
  .humberger__menu__widget {
    margin-bottom: 20px;
  }
  .humberger__menu__widget .header-top-right-language {
    margin-right: 20px;
  }
  .humberger__menu__nav {
    display: none;
  }
  .humberger__menu__wrapper .header-top-right-social {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .humberger__menu__wrapper .slicknav_btn {
    display: none;
  }
  .humberger__menu__wrapper .slicknav_nav .slicknav_item a {
    border-bottom: none !important;
  }
  .humberger__menu__wrapper .slicknav_nav {
    display: block !important;
  }
  .humberger__menu__wrapper .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 30px;
  }
  .humberger__menu__wrapper .slicknav_nav ul {
    margin: 0;
  }
  .humberger__menu__wrapper .slicknav_nav a {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
  }
  .humberger__menu__wrapper .slicknav_nav a:hover {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    color: #47d6c9;
  }
  .humberger__menu__wrapper .slicknav_nav .slicknav_row,
  .humberger__menu__wrapper .slicknav_nav a {
    padding: 8px 0;
  }
  .humberger__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 98;
    visibility: hidden;
    -webkit-transition: all, 0.6s;
    -moz-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }
  .humberger__menu__overlay.active {
    visibility: visible;
  }
  .header-top {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .header-cart {
    text-align: center;
    padding: 10px 0 24px;
  }
  .over_hid {
    overflow: hidden;
  }
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
  .hero__categories {
    margin-bottom: 30px;
  }
  .hero__search {
    margin-bottom: 30px;
  }
  .hero__search__form {
    width: 100%;
  }
  .hero__search__form form input {
    width: 100%;
  }
  .hero__search__form form .hero__search__categories {
    display: none;
  }
  .hero__search__phone {
    float: left;
    margin-top: 30px;
  }
  .categories__slider.owl-carousel .owl-nav {
    text-align: center;
    margin-top: 40px;
  }
  .categories__slider.owl-carousel .owl-nav button {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translateY(0);
  }
  .categories__slider.owl-carousel .owl-nav button.owl-next {
    right: -10px;
  }
  .footer__copyright {
    text-align: center;
  }
  .footer__copyright__text {
    float: none;
    margin-bottom: 25px;
  }
  .footer__copyright__payment {
    float: none;
  }
  .filter__item {
    text-align: center;
  }
  .filter__option {
    text-align: center;
  }
  .product__details__pic {
    margin-bottom: 40px;
  }
  .product__details__tab .nav-tabs:before {
    display: none;
  }
  .product__details__tab .nav-tabs:after {
    display: none;
  }
  .shoping__cart__table {
    overflow-y: auto;
  }
  .shoping__discount form input {
    margin-bottom: 15px;
  }
  .blog__details__author {
    overflow: hidden;
    margin-bottom: 25px;
  }
  .humberger-open {
    display: block;
    font-size: 22px;
    color: #1c1c1c;
    height: 35px;
    width: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #1c1c1c;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
  }
  .header .container {
    position: relative;
  }
  .humberger__menu__wrapper {
    width: 300px;
    background: #ffffff;
    position: fixed;
    left: -300px;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 99;
    padding: 30px;
    padding-top: 50px;
    opacity: 0;
    display: block;
    -webkit-transition: all, 0.6s;
    -moz-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }
  .humberger__menu__wrapper.show__humberger__menu__wrapper {
    opacity: 1;
    left: 0;
  }
  .humberger__menu__logo {
    margin-bottom: 30px;
  }
  .humberger__menu__logo a {
    display: inline-block;
  }
  .humberger__menu__contact {
    padding: 10px 0 13px;
  }
  .humberger__menu__contact ul li {
    font-size: 14px;
    color: #1c1c1c;
    position: relative;
    line-height: 30px;
    list-style: none;
  }
  .humberger__menu__contact ul li i {
    color: #252525;
    margin-right: 5px;
  }
  .humberger__menu__cart ul {
    display: inline-block;
    margin-right: 25px;
  }
  .humberger__menu__cart ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
  }
  .humberger__menu__cart ul li:last-child {
    margin-right: 0;
  }
  .humberger__menu__cart ul li a {
    position: relative;
  }
  .humberger__menu__cart ul li a i {
    font-size: 18px;
    color: #1c1c1c;
  }
  .humberger__menu__cart ul li a span {
    height: 13px;
    width: 13px;
    background: #47d6c9;
    font-size: 10px;
    color: #ffffff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -12px;
  }
  .humberger__menu__cart .header-cart-price {
    font-size: 14px;
    color: #6f6f6f;
    display: inline-block;
  }
  .humberger__menu__cart .header-cart-price span {
    color: #252525;
    font-weight: 700;
  }
  .humberger__menu__cart {
    margin-bottom: 25px;
  }
  .humberger__menu__widget {
    margin-bottom: 20px;
  }
  .humberger__menu__widget .header-top-right-language {
    margin-right: 20px;
  }
  .humberger__menu__nav {
    display: none;
  }
  .humberger__menu__wrapper .header-top-right-social {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .humberger__menu__wrapper .slicknav_btn {
    display: none;
  }
  .humberger__menu__wrapper .slicknav_nav .slicknav_item a {
    border-bottom: none !important;
  }
  .humberger__menu__wrapper .slicknav_nav {
    display: block !important;
  }
  .humberger__menu__wrapper .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 30px;
  }
  .humberger__menu__wrapper .slicknav_nav ul {
    margin: 0;
  }
  .humberger__menu__wrapper .slicknav_nav a {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
  }
  .humberger__menu__wrapper .slicknav_nav a:hover {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    color: #47d6c9;
  }
  .humberger__menu__wrapper .slicknav_nav .slicknav_row,
  .humberger__menu__wrapper .slicknav_nav a {
    padding: 8px 0;
  }
  .humberger__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 98;
    visibility: hidden;
    -webkit-transition: all, 0.6s;
    -moz-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }
  .humberger__menu__overlay.active {
    visibility: visible;
  }
  .header-top {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .header-cart {
    text-align: center;
    padding: 10px 0 24px;
  }
  .over_hid {
    overflow: hidden;
  }
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
  .hero__search__form form .hero__search__categories {
    display: none;
  }
  .featured__controls ul li {
    margin-bottom: 10px;
  }
  .product__details__text ul li b {
    width: 100px;
  }
  .product__details__tab .nav-tabs li {
    margin-right: 20px;
  }
  .shoping__cart__btns {
    text-align: center;
  }
  .primary-btn.cart-btn.cart-btn-right {
    float: none;
    margin-top: 10px;
  }
  .shoping__checkout .primary-btn {
    display: block;
    text-align: center;
    padding: 10px 15px 10px;
  }
  .map .map-inside {
    -webkit-transform: translateX(-125px);
    -ms-transform: translateX(-125px);
    transform: translateX(-125px);
  }
  .map .map-inside .inside-widget {
    width: 250px;
  }
  .product__details__tab .nav-tabs li {
    margin-right: 15px;
  }
  .shoping__discount form input {
    width: 100%;
  }
  .checkout__order {
    padding: 20px;
  }
  .blog__details__hero__text h2 {
    font-size: 24px;
  }
}
