<!-- Header Section Begin -->
<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header-top-left">
            <ul>
              <li><i class="fa fa-envelope"></i> info@purplecommerce.com</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header-top-right">
            <div class="header-top-right-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <!-- <div class="header-top-right-language">
                            <img src="assets/img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">English</a></li>
                                <li><a href="#">Turkish</a></li>
                            </ul>
                        </div> -->
            <div class="header-top-right-auth">
              <a href="#"><i class="fa fa-user"></i> Giriş Yap</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header-logo">
          <a href="./index.html"><img src="assets/img/logo.png" alt="" /></a>
        </div>
      </div>
      <div class="col-lg-7">
        <nav class="header-menu">
          <ul>
            <li class="active"><a href="./index.html">Alışveriş</a></li>
            <li><a href="./shop-grid.html">Kampanyalar</a></li>
            <li>
              <a href="#">Bugün Teslimat</a>
              <ul class="header-menu-dropdown">
                <li><a href="./shop-details.html">Alışveriş</a></li>
                <li><a href="./shoping-cart.html">Kampanyalar</a></li>
                <li><a href="./blog-details.html">Kampanyalar</a></li>
              </ul>
            </li>
            <li><a href="./blog.html">Ödeme Bilgileri</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-2">
        <div class="header-cart">
          <ul>
            <li>
              <a href="#"><i class="fa fa-heart"></i> <span>1</span></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a>
            </li>
          </ul>
          <div class="header-cart-price">Kasa: <span>150.00</span></div>
        </div>
      </div>
    </div>
    <div class="humberger-open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<!-- Header Section End -->
